
/* ≈Photorealistic, ≈3D animated effect in CSS3 created by Roman Flössler */

.gallery a {
    color: #d40039;
    display: inline-block;
    margin: 10px;    
    border-radius: 6px;
    background: white;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.gallery a img {
    border: none;
    width: 100%;
    height: auto;
    opacity: 0.93;
    border-radius: 6px;
    margin-bottom: -5px;
}

/* transition definition */

.gallery a, .gallery a img, .gallery a::before, .gallery a::after  {
    transition: all 0.12s ease-in;
}

.gallery  a:hover, .gallery a:hover img, .gallery a:hover::before, .gallery a:hover:after {
    transition: all 0.25s ease;
}

/* hover definition - skew and shadow */

.gallery  a:hover {
    box-shadow: 4px 6px 13px 1px rgba(13, 13, 13, 0.73);
    transform: skew(-2deg, -2deg) scale(0.965, 0.965);
    background: rgb(69, 69, 69);
    color: #00e5ff;
}

.gallery a:hover img {
    opacity: 1;
}

/* gradient overlay imitates a light reflection */

.gallery a::before {
    content: '';
    position: absolute;
    transform: translate(-30%,-30%);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: none;
}

.gallery a:hover::before  {
    background: linear-gradient(155deg, rgba(191,252,255,0.33) 0%,rgba(212,253,255,0.22) 23%,rgba(216,253,255,0) 36%);    
    transform: translate(-1%,-1%);
}

/* adding » icon */

.gallery > a::after {
    content: '»';
    position: absolute;
    top: 6px;
    right: 10px;
    color: white;
    transform: rotate(-45deg);
    font-size: 155%;
    line-height: 0.6em;
    font-family: 'Times New Roman', Arial, sans-serif;
    opacity: 0.5;
    text-shadow: 0 0 6px #000000, 0 0 6px #000000, 0 0 9px #000000, 0 0 9px #000000, 0 0 9px #000000, 0 0 13px #000000, 0 0 13px #000000, 0 0 19px #000000, 0 0 19px #000000;
}

.gallery a:hover:after {
    opacity: 0.88;
}
